.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success h2 {
  color: rgb(2, 175, 2);
  margin-bottom: 20px;
}

.success a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.success a:hover {
  text-decoration: underline;
}

.success Link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
}
