/* Placeorder.css */

.place-order {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}
.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.place-order-left input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #c5c5c5;
  outline-color: rgb(235, 25, 25);
}
.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}
.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}
.place-order .cart-total button {
  margin-top: 30px;
}

/* Modal styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 400px;
  text-align: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-content button {
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: #000000bd;
  color: rgb(255, 255, 255);
}
.error-message {
  color: red;
  font-size: 17px;
  margin-top: 10px;
}
@media (max-width: 700px) {
  .place-order {
    display: flex;

    margin-top: 100px;

    flex-direction: column;

    padding: 30px;
  }
}
