.card {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(0.95);
  transform-origin: center center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.card-details {
  flex: 1;
}

.card-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.card-details h5 {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.rating-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating {
  padding: 5px 10px;
  border-radius: 5px;
}

.separator {
  margin: 0 5px;
}
/* .cardimg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  } */

/* edanna nane madde */
.cardimg1 {
  display: block;
  position: relative;
  cursor: pointer;

  transition: opacity 0.25s ease-out 0s;
  will-change: opacity;
  border-radius: inherit;
  animation: 1.5s linear 0s infinite normal forwards running jCOzbu;
}

/* .cardimg1::before {
    content: "";
    height: 0px;
    display: block;
    padding-top: calc(66.6667%);
  } */
.cardimg2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}
.restcard-info {
  margin-left: 12px;
}
.restcard-name {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: Basis_Grotesque_Pro_Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.restcard-star-time {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
  grid-auto-flow: column;
  -webkit-box-pack: start;
  justify-content: start;
}
.restcard-starSVG {
  margin-top: -2px;
}
.restcard-location {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2px;
  gap: 2px;
}
.dnXOKm {
  -webkit-font-smoothing: antialiased;
  font-family: Basis_Grotesque_Pro;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.restcard-rating {
  margin-top: -4px;
}
.gnOsqr {
  -webkit-font-smoothing: antialiased;
  font-family: Basis_Grotesque_Pro_Bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}
.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .add {
  width: 50px;
}
.add-to-cart {
  position: relative;
}
/* .add-to-cart .add {
  width: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  border: 1px solid #f1680d;
} */
@keyframes border-circle-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(241, 104, 13, 0.4);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(241, 104, 13, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(241, 104, 13, 0);
  }
}

.add-to-cart .add {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #f6e9e1;
  animation: border-circle-animation 2s infinite;
  transition: transform 0.2s ease-in-out;
}

.add-to-cart .add:hover {
  transform: scale(1.1);
}

.food-iteam-counter {
  position: absolute;
  bottom: -11px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}
.food-iteam-counter img {
  width: 30px;
}
